<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.notification.audiovisual.title}">JHipster creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.notification.audiovisual.greeting(${user.login})}">
    Dear
</p>
<span th:switch="${notification.startDate}">
  <i th:case="true">
      <p th:text="#{email.notification.audiovisual.text1(${notification.name})}">
  </i>
  <i th:case="false">
     <p th:text="#{email.notification.audiovisual.text2(${notification.name})}">
  </i>
</span>
<p>
    <a th:with="url=(@{|${notification.url}|})" th:href="${notification.url}"
       th:text="${notification.message}">Activation link</a>
</p>
<p>
    <span th:text="#{email.activation.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
